<div ng-controller="ordersController">
    <h1>order</h1>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>price</th>
                <th>count</th>
                <th>amount</th>
<!--                <th>actions</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ordersPage">
                <td>{{item.productTitle}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity * item.price}}</td>
<!--
                <td>
                    <button ng-click="order()">order</button>
                </td>
-->
            </tr>
        </tbody>
    </table>
</div>
